---
layout: default
home: true
---

<div class="home text-xs-center">
	<section>
		<div class="mb-3 pb-2">
			<h1>{{ site.author.name }}</h1>
			<p>Hi all! I'm Mimi, a Full Stack Software Engineer. I design and build web and mobile applications using JavaScript, TypeScript, React, and other modern tools. I'm passionate about crafting clean, scalable code and delivering intuitive user experiences across platforms.</p>
			<p>✅ React, Redux, Typescript, Javascript, CSS3, HTML5<br />
				✅ Nodejs<br />
				✅ SQL, PostgreSQL<br />
				✅ React Native<br />
				✅ Wordpress, Prestashop, E-commerce
			</p>
			<ul class="inline-list">
				<li>
					<a href="https://www.linkedin.com/in/mimilaumeiyan" target="_blank"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i><span class="sr-only">Linkedin</span></a>
				</li>
				<li>
					<a href="https://www.instagram.com/mimilamlau" target="_blank"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i><span class="sr-only">Instagram</span></a>
				</li>
			</ul>
			<p><a href="/about">More about me</a></p>
		</div>
	</section>

	<section>
		<div class="mb-3">
			<!-- <ul class="post-archive">
				{% for post in site.posts %}
				{% if post.category == "blog" %}
						<li>
								<a href="{{ site.baseurl }}{{ post.url }}" class="post-archive-link">
										{{ post.title }}
								</a>
						</li>
				{% endif %}
				{% endfor %}
			</ul> -->

			<h1>Some works</h1>
			<ul class="post-list text-xs-left">
					{% if site.pagination %}
						{% assign source = paginator.posts %}
					{% else %}
						{% assign source = site.posts %}
					{% endif %}

					{% for post in site.posts limit:3 %}
						{% if post.category == "work" %}
						<li>
								<a href="{{ post.url | prepend: site.baseurl }}" class="post-list-link">
										<div class="post-list-info">
												<h2 class="post-list-title">{{ post.title }}</h2>
												<span class="post-list-meta">{{ post.date | date: "%B %-d, %Y" }}</span>
										</div>
								</a>

								<img src="{{post.thumb}}" class="post-list-thumb" />
						</li>
						{% endif %}
					{% endfor %}
			</ul>
			<p><a href="/work">More works</a></p>
		</div>
	</section>
</div>
